.button{
   background-color: #ff2d2d;
   color: #ffffff;
   padding: 10px 53px;
   border-radius: 5px;
   font-size: 18.5px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.84;
   letter-spacing: 0.46px;
}