.nav-list {
   display: flex;
   justify-content: center; 
}

.nav-list-item { 
   margin: 0 58px 0 58px;
   padding: 34px 0 34px 0;
}

.nav-list-item a:hover {
   background: #ff3f40;
   color: #e0e0e0;
   text-decoration: none;
   padding: 34px 0 34px 0;
}

.nav-list-item a {
   color: #b1b1b1;
   text-decoration: none;
}


