.nav {
   display: flex;
   justify-content: center; 
   box-sizing: border-box;
   background-color: #313030;
}

.nav-item { 
   margin: 0 58px 0 58px;
   padding: 34px 0 34px 0;
   color: #b1b1b1;
   text-decoration: none;
}







