body {
  font-family: 'Open Sans', sans-serif;
  margin:0; 
}

a {
  list-style-type: none;
}

a:hover {
  background: #ff3f40;
  color: #e0e0e0;
  text-decoration: none;
  padding: 34px 0 34px 0;
}







